SUPABASE_URL=https://uogaveubabnsskfwftui.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_ACCESS_TOKEN=

SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=

CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET=
